<div class="top">wxadmin - version:1.0  <i class="fa fa-align-justify" aria-hidden="true" id="menu-show-hidden" status="open"></i></div>
   <div class="menu">
   	<ul>
       	<li>
           	<div class="title"><a href="#"><i class="fa fa-home left"></i> 编程语言<i class="fa fa-angle-left right"></i></a></div>
           	<ul class="list">
               	<li><a href="http://www.hao123.com" target="pagecontent"><i class="fa fa-angle-right"></i>C语言</a></li>
                   <li><a href="http://www.baidu.com" target="pagecontent"><i class="fa fa-angle-right "></i>C++</a></li>
                   <li><a href="http://www.sina.com.cn" target="pagecontent"><i class="fa fa-angle-right "></i>Java</a></li>
            </ul>
         </li>
        <li>
            <div class="title"><a href="#"><i class="fa fa-home left"></i> 编程语言<i class="fa fa-angle-left right"></i></a></div>
            <ul class="list">
                <li><a href="http://www.hao123.com" target="pagecontent"><i class="fa fa-angle-right"></i>C语言</a></li>
                   <li><a href="http://www.baidu.com" target="pagecontent"><i class="fa fa-angle-right "></i>C++</a></li>
                   <li><a href="http://www.sina.com.cn" target="pagecontent"><i class="fa fa-angle-right "></i>Java</a></li>
            </ul>
         </li>

        <li>
            <div class="title"><a href="#"><i class="fa fa-home left"></i> 编程语言<i class="fa fa-angle-left right"></i></a></div>
            <ul class="list">
                <li><a href="http://www.hao123.com" target="pagecontent"><i class="fa fa-angle-right"></i>C语言</a></li>
                   <li><a href="http://www.baidu.com" target="pagecontent"><i class="fa fa-angle-right "></i>C++</a></li>
                   <li><a href="http://www.sina.com.cn" target="pagecontent"><i class="fa fa-angle-right "></i>Java</a></li>
            </ul>
         </li>

        <li>
            <div class="title"><a href="#"><i class="fa fa-home left"></i> 编程语言<i class="fa fa-angle-left right"></i></a></div>
            <ul class="list">
                <li><a href="http://www.hao123.com" target="pagecontent"><i class="fa fa-angle-right"></i>C语言</a></li>
                   <li><a href="http://www.baidu.com" target="pagecontent"><i class="fa fa-angle-right "></i>C++</a></li>
                   <li><a href="http://www.sina.com.cn" target="pagecontent"><i class="fa fa-angle-right "></i>Java</a></li>
            </ul>
         </li>

        <li>
            <div class="title"><a href="#"><i class="fa fa-home left"></i> 编程语言<i class="fa fa-angle-left right"></i></a></div>
            <ul class="list">
                <li><a href="http://www.hao123.com" target="pagecontent"><i class="fa fa-angle-right"></i>C语言</a></li>
                   <li><a href="http://www.baidu.com" target="pagecontent"><i class="fa fa-angle-right "></i>C++</a></li>
                   <li><a href="http://www.sina.com.cn" target="pagecontent"><i class="fa fa-angle-right "></i>Java</a></li>
            </ul>
         </li>



       </ul>
   
   </div>
   <div class="page">
   	<iframe src="http://www.baidu.com" name="pagecontent"></iframe>
   </div>

